.BurguerButton {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: var(--button-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--button-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color ease-in-out 1s;
  z-index: 2;
}

.ButtonActive {
  background-color: var(--button-active-color);
  transition: background-color ease-in-out 1s;
}

.BurguerButton span {
  margin: 4px 0;
  display: block;
  width: 70%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

/* hover over inactive button */
.BurguerButton:not(.ButtonActive) span:nth-child(2) {
  transition: margin ease-in-out 200ms;
}

.BurguerButton:not(.ButtonActive):hover span:nth-child(2) {
  margin: 10px 0;
  transition: margin ease-in-out 200ms;
}

/* active button transition */
.BurguerButton.ButtonActive span:first-child {
  margin: 0;
  transform: translateY(2px) rotateZ(45deg);
  transition: transform ease-out 100ms;
}

.BurguerButton.ButtonActive span:nth-child(2) {
  margin: 0;
  transform: rotatez(calc(3*360deg - 45deg));
  transition: transform ease-out 500ms;
}

.BurguerButton.ButtonActive span:last-child {
  margin: 0;
  transform: translateY(-2px) rotateZ(45deg);
  transition: transform ease-out 100ms;
}

/* hover over active button */
.BurguerButton.ButtonActive:hover span:first-child {
  margin: 0;
  transform: translateY(2px) rotateZ(45deg) skew(5deg, 5deg);
  transition: transform ease-out 100ms;
}

.BurguerButton.ButtonActive:hover span:nth-child(2) {
  margin: 0;
  transform: rotatez(calc(3*360deg - 45deg)) skew(5deg, 5deg);
  transition: transform ease-out 500ms;
}

.BurguerButton.ButtonActive:hover span:last-child {
  margin: 0;
  transform: translateY(-2px) rotateZ(45deg) skew(5deg, 5deg);
  transition: transform ease-out 100ms;
}