.NavLink {
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

@media (max-width: 600px) {
  .NavLink {
    margin-right: 0;
    margin-top: 4rem;
  }

  .NavLink:first-child {
    margin-top: 0;
  }
}